@charset "utf-8";
/*公共样式*/
html,body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    width:100%; height: 100%;
    /*overflow: hidden;*/
}
body{margin:0 auto; background-color: white;}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td{
    margin:0 0; padding:0px 0px; font-size:14px; color:#333333;
    font-family:'微软雅黑';-webkit-text-size-adjust:none; font-weight: normal;}
img{ cursor:pointer;border:none;}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; color: inherit;}
a:active,a:hover { text-decoration: none;  color: inherit;}
a:focus{ outline: none; }
table{border-collapse:collapse;}
/*公共样式*/
*{ box-sizing: border-box;}
.base_width{width: 100%; max-width: 1200px; margin: 0 auto;}
.base_width30{width: 100%; max-width: 1230px; margin: 0 auto;}
.base_width44{width: 100%; max-width: 1244px; margin: 0 auto;}
.base_width150{width: 100%; max-width: 1350px; margin: 0 auto;}
.clear{ clear: both;}
/*public*/
.main{}
.header{ padding: 20px 0; overflow: hidden;}
.head_left{ /*padding: 5px 0;*/}
.head_left img{ max-width: 80%;}
.head_right{ padding: 0; height: 100%;}
.head_right .tel{ vertical-align: middle; padding: 0;}
.head_right .tel img{ max-height: 100%;}
.head_right .tel dl{ display: inline-block; vertical-align: middle; margin-left: 10px;
}
.head_right .tel dl dt{ font-size: 18px; color: #00abee;
}
.head_right .tel dl dd{ font-size: 20px; color: #00abee}

.head_right .address{ padding: 0;}
.head_right .address .add_con{ border-left: 1px solid #e5e5e5; height: 100%;
    background: url("../image/index/gps.png") no-repeat 5% 50%; padding-right: 0;
    background-size: auto 50%; padding-left: 25%; position: relative; max-height: 65px;}
.add_con .select_box{ position: relative; line-height: 30px; top: 50%; margin-top: -15px;}
.add_con .lei_select{ display: inline;}
.add_con .lei_select .text{ color: #00b0ef; font-size: 16px;
    display: inline-block; *display: inline;*zoom: 1; width: 40px;}
.head_right .address select{ position: absolute; top: 50%; left: 0;
    margin-left: -11px;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;}

.index_nav{ background: #ffc900;}
.index_nav table{}
.index_nav table td{ font-size: 22px; color: #876a00;
    font-weight: bold; text-align: center;}
.index_nav table td a{ height: 100%; box-sizing: content-box; line-height: 80px;
    display: block;}
.index_nav table td a:hover,.index_nav table td a:active,.index_nav table td a.on{
    border-bottom: 2px solid #876a00;

}


/*foot*/
.footer{}
.foot_1{ background-color: #feca0a;}
.foot_1 table{ height: 125px; width: 100%;}
.foot_1 table td{}
.foot_1 table td p{ font-size: 16px; margin-top: 10px; color: #876a00;}
.al_center{ text-align: center; left: 0; }
.al_right{ text-align: right; right: 0; }
.concern{ margin: 0 5px;}

.foot_2{ padding: 20px 0 30px 0;}
.foot_2 table{ width: 100%; padding-bottom: 20px;}
.foot_2 table th{ text-align: center; padding:15px 20px;
    border-bottom: 1px solid #e5e5e5; color: #333333; font-size: 16px;
    margin-bottom: 10px;
}
.foot_2 table td{ text-align: center; padding:0 20px;
    color: #666666; font-size: 14px; line-height: 28px;}

.foot_3{ background-color: #feca0a;}
.foot_3 p{ font-size: 14px; color: #876a00; line-height: 38px;
    text-align: center;}



/*wap*/
.wap_nav{ display: none;}
.wap_nav_list{
    position: fixed;
    top:10%;
    left: 0;
    width: 40%;
    background: #ffc900;
    height: 100%;
    z-index: 88;
    display: none;

}
.wap_nav_list li{
    background-color: #fff;
    border-bottom: 1px dashed #eee;
    /*border-right: 1px dashed #eee;*/
    text-indent: 5px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 5%;
}
.wap_nav_list li a{
    color: #876a00;
}
.wap_show{ display: none;}


@media (max-width: 1200px){
    .index_top .top_con .top_box .text ul{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 100px;
    }
    .index_top .top_con .top_box .text li{
        font-size: 20px;
        line-height: 30px;
    }
    .index_top .top_con .top_box .button p{
        line-height: 30px;
    }
    .index_top .top_con .top_box .button p a{
        font-size: 16px;
    }
    .index_top .top_con .top_box{
        margin-top: -95px;
    }
    .subject{ background-image: none;}
    .subject .sub_art{ padding-top: 0;}

}

@media (max-width: 767px) {
    .wap_show{ display: block;}
    .header{
        padding: 0;
    }
    .head_right .tel img{
        display: none;
    }
    .head_right .tel dl dt{
        font-size: 14px;
    }
    .head_right .tel dl dd{ font-size: 13px;}
    .head_right .address img{

    }
    .head_right .address .add_con{
        border-left: none;
        background-size:auto 35%;

    }
    /*nav*/
    .pc_nav{ display: none;}
    .wap_nav{ display: block; padding: 2% 5%; width: 100%; background: #ffc900; position: relative;
        z-index: 99;}
    .wap_nav a{ color: white;}
    .wap_nav span{ font-size: 20px;}
    /*top*/
    .index_top .top_con .top_box{
        display: none;
    }
    /*foot*/
    .wap_hid{ display: none;}
    .foot_1 table td p{ font-size: 12px;}
}

@media (min-width: 768px) and (max-width: 991px){
    .index_nav table td{
        font-size: 18px;
    }
    .index_nav table td a{ line-height: 55px;}

    .sm_hid{ display: none;}
    .foot_3{ border-top: 1px solid #876a00;}
}


@media (min-width: 992px) and (max-width: 1199px){


}
@media (min-width: 1200px) {

}



