*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Microsoft yahei";
}
img{
    border: none;
}
a{
    text-decoration: none;
}
#wrap{
    width: 750px;
    height: 1334px;
    margin: 0 auto;
    background: url("../images/News/bg-login.png")center center no-repeat;
    background-clip: content-box;
}
.head{
    height: 88px;
    padding: 0 59px 0 31px;
    line-height: 88px;
}
.fanhui{
    width: 16px;
    height: 26px;
    background: url("../images/ProductCenter/sprite.png")0 0 no-repeat;
    display: inline-block;
}
.biaoti{
    display: inline-block;
    width: 639px;
    text-align: center;
    font-size: 28px;
    color: #fff;
}
form{
    width: 637px;
    margin: 30px auto 0;
    position: relative;
}
form input{
    width: 616px;
    display: block;
    outline: none;
    border: none;
    height: 80px;
    background: transparent;
    color: #fff;
    font-size: 24px;
    padding-left: 21px;
}
form hr{
    border-bottom: none;
    border-top: 1px solid #cccccc;
}
form button{
    border: none;
    outline: none;
    background: transparent;
    color: #197FEE;
    font-size: 22px;
    position: absolute;
    right: 21px;
    top: 106px;
    cursor: pointer;
}
.wancheng{
    width: 639px;
    height: 80px;
    display: block;
    color: #fff;
    background: #197FEE;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
    border-radius: 40px;
    margin-top: 340px;
}