*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Microsoft yahei";
}
img{
    border: none;
}
a{
    text-decoration: none;
}
#wrap{
    width: 750px;
    height: 1334px;
    margin: 0 auto;
    background: url("../images/News/bg-login.png")center center no-repeat;
    background-clip: content-box;
}
.head{
    height: 88px;
    padding: 0 59px 0 31px;
    line-height: 88px;
}
.fanhui{
    width: 16px;
    height: 26px;
    background: url("../images/ProductCenter/sprite.png")0 0 no-repeat;
    display: inline-block;
}
.biaoti{
    display: inline-block;
    width: 639px;
    text-align: center;
    font-size: 28px;
    color: #fff;
}
.touxiang{
    width: 196px;
    height: 196px;
    border: 4px solid #71B4FD;
    border-radius: 50%;
    background: #fff;
    margin: 70px auto 0;
    display: block;
    overflow: hidden;
}
.touxiang img{
    width: 100%;
    height: 109px;
    margin-top: 44px;
}
.list{
    padding: 60px 0 0 75px;
}
.list li{
    width: 530px;
    height: 78px;
    border: 1px solid #fff;
    border-radius: 40px;
    margin-top: 40px;
    padding-left: 68px;
    position: relative;
}
.gongsi{
    width: 22px;
    height: 28px;
    background: url("../images/News/sprite-dlzc.png")0 -30px no-repeat;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 27px;
}
.shoujihao{
    width: 24px;
    height: 24px;
    background: url("../images/News/sprite-dlzc.png")0 -84px no-repeat;
    display: inline-block;
    position: absolute;
    top: 27px;
    left: 28px;
}
.xingming{
    width: 24px;
    height: 26px;
    background: url("../images/News/sprite-dlzc.png")0 -58px no-repeat;
    display: inline-block;
    position: absolute;
    top: 27px;
    left: 28px;
}
.mima{
    width: 22px;
    height: 30px;
    background: url("../images/News/sprite-dlzc.png")0 0 no-repeat;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 28px;
}
.list li input{
    height: 74px;
    width: 490px;
    font-size: 28px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
}
.list li input::-webkit-input-placeholder{
    color: #fff;
}
.list li input:-ms-input-placeholder{
    color: #fff;
}
.list li input:-moz-placeholder{
    color: #fff;
}
.list li input::-moz-placeholder{
    color: #fff;
}
.denglu{
    width: 600px;
    height: 78px;
    color: #fff;
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 78px;
    background: #197FEE;
    border-radius: 40px;
    margin: 40px 0 0 75px;
}
.dlxia{
    padding: 52px 100px 0;
    overflow: hidden;
}
.wjmm{
    float: left;
    color: #fff;
    font-size: 26px;
}
.ljdl{
    color: #fff;
    font-size: 26px;
    float: right;
}
.zhuce{
    color: #0661C3;
}