.mid{
    width: 750px;
    height: 1206px;
    background: url("../images/ProductCenter/bg.png")0 0 no-repeat;
    background-clip: content-box;
    position: relative;
}
form{
    padding: 0 34px;
}
form p{
    padding-left: 42px;
    font-size: 22px;
    color: #333333;
    line-height: 70px;
    height: 70px;
}
form input{
    display: block;
    width: 642px;
    height: 70px;
    padding-left: 40px;
    font-size: 22px;
    color: #333;
    outline: none;
    border: 1px solid #DADADA;
}
.xianshimima{
    font-size: 18px;
    padding: 20px 0 20px 75px;
    display: block;
    background: url("../images/Us/icon-xgmm1.png")40px center no-repeat;
    cursor: pointer;
}
.queding{
    width: 682px;
    color: #fff;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #197FEE;
    border-radius: 35px;
    display: block;
    margin-top: 25px;
}