.lanmu{
    overflow: hidden;
    height: 94px;
    width: 750px;
}
.item{
    height: 93px;
    border-bottom: 1px solid #CCCCCC;
}
.item a{
    width: 120px;
    height: 93px;
    font-size: 30px;
    color: #333333;
    border-bottom: 1px solid transparent;
    display: block;
    line-height: 93px;
    margin: 0 auto;
    text-align: center;
}
.item .selecta{
    border-bottom: 1px solid #787AC9;
}
.mid{
    width: 720px;
    padding: 5px;
    overflow: hidden;
    margin: 0 auto;
}
.mid li{
    margin: 5px;
    width: 350px;
    height: 401px;
    background: #E4F1FF;
    float: left;
}
.twimg{
    height: 270px;
}
.twimg img{
    width: 350px;
    height: 270px;
}
.dabiao{
    padding: 10px 12px;
    width: 326px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    font-size: 26px;
    background: url("../images/Graphic-list/xiaxian.png")14px bottom no-repeat;
}
.neirong{
    padding: 10px 12px;
    color: #666666;
    font-size: 18px;
    width: 326px;
    height: 48px;
    line-height: 27px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    display: -webkit-box;
}