.zhengwen{
    width: 750px;
    position: relative;
    float: left;
}
.toubu{
    width: 750px;
    height: 110px;
    background: rgba(255,255,255,.5);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    border-bottom: 1px solid #787AC9;
}
.sangang{
    width: 37px;
    height: 33px;
    float: left;
    background: url("../images/index/sangang.png")0 0 no-repeat;
    margin: 39px 0 0 20px;
}
.logo{
    width: 156px;
    height: 85px;
    float: left;
    margin: 13px 0 0 32px;
}
.rexian{
    width: 230px;
    height: 76px;
    float: right;
    background: url("../images/index/rexian.png")0 0 no-repeat;
    margin: 17px 20px 0 0;
}
.banner{
    width: 750px;
    height: 419px;
    position: relative;
}
.swiper-container .swiper-pagination{
    bottom: 19px !important;
}
.swiper-container .swiper-pagination-bullet{
    width: 37px !important;
    height: 21px !important;
    background: url("../images/index/fenyeqi.png")center center no-repeat !important;
    opacity: 1 !important;
    margin: 0 28px !important;
}
.swiper-container .swiper-pagination-bullet-active{
    width: 37px !important;
    height: 21px !important;
    background: url("../images/index/xzfenyeqi.png")0 0 no-repeat !important;
}
.geduan{
    display: block;
    width: 36px;
    height: 6px;
    background: url("../images/index/geduan.png")0 0 no-repeat;
    opacity: 1;
}
.gd1{
    position: absolute;
    bottom: 25px;
    left: 264px;
    z-index: 10;
}
.gd2{
    position: absolute;
    bottom: 25px;
    left: 360px;
    z-index: 10;
}
.gd3{
    position: absolute;
    bottom: 25px;
    left: 450px;
    z-index: 10;
}
.beijing{
    width: 750px;
    height: 1685px;
    background: url("../images/index/beijing.png")0 0 no-repeat;
    background-size: 100% 100%;
}
.nav{
    height: 223px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 16px;
}
.nav li{
    float: left;
    padding: 35px 37px;
}
.nav li a{
    display: block;
    color: #333333;
    font-size: 28px;
}
.nav li a i{
    display: block;
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.nav li a span{
    display: block;
    padding-top: 20px;
    text-align: center;
}
.icon1{
    background: #F2B512 url("../images/index/icon1.png")center center no-repeat;
    border: 1px solid #DEA60E;
}
.icon2{
    background: #13C761 url("../images/index/icon2.png")center center no-repeat;
    border: 1px solid #09AE52;
}
.icon3{
    background: #EF0005 url("../images/index/icon3.png")center center no-repeat;
    border: 1px solid #DD0004;
}
.icon4{
    background: #3E6DDF url("../images/index/icon4.png")center center no-repeat;
    border: 1px solid #305CC5;
}
.xwdt{
    height: 400px;
    background: #fff;
    margin-bottom: 16px;
}
.biaoti{
    font-size: 32px;
    color: #333;
    text-align: center;
    padding: 30px 0 25px;
}
.xinwen{
    height: 295px;
    overflow: hidden;
}
.xinwen li{
    padding-bottom: 22px;
}
.xinwen li a{
    font-size: 28px;
    color: #666;
    display: block;
    overflow: hidden;
}
.dian{
    float: left;
    width: 45px;
    height: 37px;
    background: url("../images/index/dian.png")center center no-repeat;
}
.neirong{
    float: left;
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jiantou{
    float: right;
    margin-right: 20px;
}
.zyyw{
    height: 370px;
    background: #fff;
}
.splunbo{
    width: 750px;
    height: 270px;
    position: relative;
    overflow: hidden;
}
.liangshipin{
    overflow: hidden;
    width: 770px;
}
.lshipin{
    width: 365px;
    height: 240px;
    position: relative;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}
.lshipin img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bofang{
    background: rgba(0,0,0,.6) url("../images/index/bofang.png")0 0 no-repeat;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -38px;
}
.yewubt{
    color: #fff;
    background: rgba(0,0,0,.6);
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 35px;
    text-align: center;
}
.swiper-container2 .swiper-pagination{
    bottom: 6px !important;
}
.myhk{
    height: 511px;
    width: 750px;
    background: #fff;
    margin: 16px 0;
}
.dashipin{
    height: 414px;
    position: relative;
    overflow: hidden;
}
.dashipin img{
    width: 750px;
    height: 414px;
}
