.lanmu{
    overflow: hidden;
    height: 94px;
    width: 750px;
}
.item{
    height: 93px;
    border-bottom: 1px solid #CCCCCC;
}
.item a{
    width: 120px;
    height: 93px;
    font-size: 30px;
    color: #333333;
    border-bottom: 1px solid transparent;
    display: block;
    line-height: 93px;
    margin: 0 auto;
    text-align: center;
}
.item .selecta{
    border-bottom: 1px solid #787AC9;
}
.mid{
    padding: 10px 20px 10px 18px;
}
.wenzilist{
    background: #fff;
    padding: 0 10px 0 19px;
}
.wenzilist li{
    height: 161px;
    border-bottom: 1px dashed #CCCCCC;
    overflow: hidden;
}
.shijian{
    float: left;
    width: 82px;
    height: 82px;
    border: 1px solid #EFEFEF;
    margin-top: 27px;
    border-radius: 5px;
}
.yue{
    font-family: "Arial";
    font-size: 32px;
    color: #333;
    height: 49px;
    line-height: 49px;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
}
.riqi{
    line-height: 32px;
    font-size: 26px;
    color: #666666;
    text-align: center;
}
.neirong{
    float: left;
    margin-top: 27px;
    width: 586px;
    margin-left: 13px;
}
.shangbiao{
    font-size: 26px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 16px;
    background: url("../images/Graphic-list/xiaxian.png")2px bottom no-repeat;
}
.xiabiao{
    font-size: 20px;
    color: #666666;
    line-height: 30px;
    padding-top: 7px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    display: -webkit-box;
}